<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
				MikalBot
			</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="https://github.com/failedxyz/MikalBot/issues" target="_blank">Report Issues&nbsp;<i class="glyphicon glyphicon-new-window"></i></a></li>
		</ul>
	</div>
</nav>