<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
		<title>About - MikalBot</title>
	</head>
	<body>
		<header>
			<% include ../partials/navbar %>
		</header>
		<div class="container">
			<div class="page-header">
				<h1>About</h1>
			</div>
			<p>MikalBot was developed by Michael Zhang.</p>
			<a name="help"></a>
			<div class="page-header">
				<h3>How do I use it?</h3>
			</div>
			<p>If you participate in the chat, you're already using MikalBot! Here's some of the commands:</p>
			<ul>
				<strike><li><b>!help</b>: Takes you to this page.</li></strike>
				<li><b>!leaderboard</b>: View a leaderboard of the most active participants.</li>
				<li><b>!level</b>: View your current level and XP.</li>
				<li><b>!roll &lt;max&gt;</b>: Rolls a random number between 0 and max, which defaults to 100.</li>
				<strike><li><b>!rules</b>: Takes you to the <a href="#rules">rules</a> section.</li></strike>
				<li><b>!spyfall</b>: Play the Spyfall game. Rules are <a href="/spyfall">here</a>.</li>
			</ul>
			<p>Apparently Facebook blocked the bot from sending links. Trying to fix this now.</p>
			<a name="rules"></a>
			<div class="page-header">
				<h3>How does it work?</h3>
			</div>
			<p>Here's some of the rules about leveling up in a MikalBot-powered chat:</p>
			<ul>
				<li>Every time you chat, your <b style="color:blue;">activity</b> increases to 10.</li>
				<li>Every <b>minute</b>, your <b style="color:blue;">activity</b> drops by 1. So if you want to keep your <b style="color:blue;">activity</b> higher, keep chatting!</li>
				<li>As long as your <b style="color:blue;">activity</b> is greater than 0, you will gain <b style="color:green;">experience</b>. The amount of experience you gain is 0.4 times your <b style="color:blue;">activity</b>.</li>
			</ul>
		</div>
		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>