<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
		<title>MikalBot</title>
		<meta property="og:title" content="MikalBot">
		<meta name="description" content="A chat bot that spices up your Facebook group chats!">
		<meta property="og:description" content="A chat bot that spices up your Facebook group chats!">
	</head>
	<body>
		<header>
			<% include ../partials/navbar %>
		</header>
		<div class="container">
			<div class="jumbotron">
				<h1>Welcome to MikalBot</h1>
			</div>
			
			<div class="page-header">
				<h3>So, what is MikalBot?</h3>
			</div>
			<p><b>MikalBot</b> is a Facebook chat bot that does a lot of cool things! Check <a href="/about#help">this page</a> for a list of commands. MikalBot is currently part of <b><%= N %></b> chat<% if (N > 1) { %>s<% } %>.</p>
			
			<div class="page-header">
				<h3>Join my chat?</h3>
			</div>
			<p>Add me to any of your group chats! When Facebook asks you to enter a friend's name, enter this email instead: <code>mikal.zaeng@gmail.com</code>. That's all you need to get MikalBot up and running!</p>
			<p><a href="https://www.facebook.com/people/Mikal-Zaeng/100011307603181" title="Mikal Zaeng" target="_TOP"><img class="img" src="https://badge.facebook.com/badge/100011307603181.11016.1370130857.png" style="border: 0px;" alt="" /></a></p>
			
			<div class="page-header">
				<h3>Friend me?</h3>
			</div>
			<p>Sure! I'm open to friend requests. I'll probably need them to make Facebook think my account is 100% legit.</p>
			
			<div class="page-header">
				<h3>How do I check my rankings?</h3>
			</div>
			<p>Go get your <b>thread ID</b>. View your rankings at <code>/stats/&lt;thread id&gt;</code>. Or just type <b>!leaderboard</b> in your chat.</p>
			
			<div class="col-md-6">
				<div class="page-header">
					<h3>Gimme Some Likes</h3>
				</div>
				<p><div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div></p>
			</div>
			<div class="col-md-6">
				<div class="page-header">
					<h3>Donate?</h3>
				</div>
				<p>Donations will go towards getting a domain and dedicated server. Account-based donations coming soon!</p>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHHgYJKoZIhvcNAQcEoIIHDzCCBwsCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYC9NPpQ8trF21NdUSRuwZ7ZN0OFGzl261XfDHsDLx46v9Erobd3vjiOT1xm+yZMNVWY+nz8AARzBc3Jwb8Rs5qRIcBfFP3/LGuOqR3rrSPDIiUjKnPCtcKyfI+Z3otzuM0qf2o6J08Br4nNJAlpfeHSTrHpqILi1fBA66e1cufmxzELMAkGBSsOAwIaBQAwgZsGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQILLM0Cku0fReAeIWbSR6Iuy092beF0EWIm8nQgho3i6ITEZOzO5LveEJTRKPp9FDj82LanGJp64MMhR6aAH7jiXPlbw2zrhIeT96ajcDf7r8LdDHGsfS3wLUHaUzW+TpLJkE+ne21apo4Zh43zSPaGrBZ/Vi5RFagBWP2jq9GyZbC9aCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE2MDIwNDE5NDg0OVowIwYJKoZIhvcNAQkEMRYEFJbI8UJqPkZys0OvGbnOk2VyHO2rMA0GCSqGSIb3DQEBAQUABIGAYPX3mUByoMutyXpLtA3YnYNKlkKpKTsFBdHUC/hW/kIGsjiimBqBUvgTwoeitlzi/YnhRxWhGlT4tiUt/Ciyd1wcH0KyCzCZPDZvXJ1QAtWcp2Sb62/s4b+FgQGEO49r/J3Gpv3pZb1EeX96mbFmFc5t5cmZN+sx7su+xFSGUns=-----END PKCS7-----
					">
					<button type="submit" class="btn btn-lg btn-success">Donate!</button>
					<!-- <input type="image" src="http://placehold.it/600x100" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> -->
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
			</div>
			
			<div class="page-header">
				<h3>Privacy</h3>
			</div>
			<p>Your chats aren't recorded and we won't read the chats. The bot is simply tracking how often you talk.</p>
		</div>
		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>